/* Element selectors */
/* body{
    height: 1000px;
} */

/* class selectors */
.contact-info-list, .social-icon-two{
    list-style: none;
}
.Email{
    text-decoration: none;
}

.fa-facebook, .fa-linkedin{
    color: blue;
}
.fa-instagram{
    color: rgb(201, 31, 88);
}
.fa-youtube{
    color: red;
}

.form-div{
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 20px 25px;
    border-radius: 1rem;
    background-color: #ffb62f;
}

.hidden{
    display: none;
}
.icon{
    margin: 1rem;
    color: rgb(0, 0, 0);
}
.loginLink{
    padding: 5px 10px;
    border: 2px solid gray;
    text-decoration: none;
    color: black;
}
.loginForm{
    /* max-width: 300px; */
    margin: auto;
}

.logoSpan{
    padding: 1rem 1rem;
    font-size: x-large;
}

.userLogin, .adminLogin{
    background-color: #ffd588;
}

/* Id selectors */
#aboutUs{
    background-color: #ffbb3f;
}

#UID, #password{
    margin: 0.8rem 0rem;
}