/* Element selectors */

/* class selectors */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.userFormDiv {
  /* background: rgb(131, 58, 180);
  background: linear-gradient(
    12deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(245, 255, 25, 0.15236427320490364) 0%
  ); */
  padding: 1.2rem 1rem;
  text-align: center;
}
.userForm {
  margin: 0.3rem;
  border: 2px solid;
  border-radius: 0.5rem;
  text-align: left;
  padding: 1.3rem 1rem;
  align-items: center;
}

.userForm > div {
  font-size: 1.2rem;
  font-weight: 600;
  /* border: 2px solid red; */
}

.genderCheckbox {
  margin-top: 1em;
  padding: 1em;
}

.form-select {
  height: auto;
  font-size: medium;
}

.formHeading {
  color: orange;
  margin: 1rem 2rem;
  padding: 1rem 1rem;
  font-size: 200%;
}

/* id selectors */
#educationForm {
  padding: 4.3rem 2rem;
  /* margin: 5rem 2rem; */
}

#uploadDoc{
  width: 80vw;
  margin: 1em auto;
  padding: 20px 25px;
  border-radius: 1rem;
  border: 2px solid rgb(255, 223, 164);
  background-color: #ffb62f;
  background: rgb(249,201,67);
  background: linear-gradient(343deg, rgba(249,201,67,1) 0%, rgba(255,252,182,1) 54%);
}

#uploadDoc>div>form>div>label, #uploadDoc>div>form>div>div>label{
  /* color: red; */
  /* background-color: red; */
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 0.5em;
}

#docBtn{
  margin: 1.1em;
}