<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/public/style/user.css">
  <link rel="stylesheet" href="/public/style/style.css"> -->
  <link rel="stylesheet" href="/style/user.css">
  <link rel="stylesheet" href="/style/style.css">
  <!-- <link rel="stylesheet" href="/public/style/style2.css"> -->
</head>

<script type="text/javascript" src="multilang.js"></script>
<script type="text/javascript">
  var multilang;
  var item = localStorage.getItem("global_lang")
  console.log(item)
  function onLoad() {
    console.log(item)
    //console.log(JSON.parse(localStorage.getItem("global_lang")))
    // create object, load JSON file, default to 'nl', and callback to initList when ready loading
    multilang = new MultiLang('languages.json', item, this.initList);

    // alternatively
    //multilang = new MultiLang('languages.json', null, this.initList); // default to browser language
    //multilang = new MultiLang('languages.json'); // only load JSON, no callback
  }
  function langSelectChange(sel) {
    // console.log(document.getElementById("lang").value);
    // switch to selected language code

    localStorage.setItem('global_lang', sel.value);
    multilang.setLanguage(sel.value);
    // refresh labels
    refreshLabels();
  }

  function initList() {
    console.log("gg")
    // get language list element
    var list = document.getElementsByName("listlanguages")[0];
    // clear all options
    list.options.length = 0;

    // add all available languages
    for (var key in multilang.phrases) {
      // create new language option
      var lang = document.createElement("option");
      lang.value = key;
      lang.innerHTML = multilang.phrases[key]['langdesc'];

      // append to select element
      list.appendChild(lang);
    }

    refreshLabels();
  }

  function refreshLabels() {

    // loop through all document elements
    var allnodes = document.body.getElementsByTagName("*");

    for (var i = 0, max = allnodes.length; i < max; i++) {
      // get id current elements
      var idname = allnodes[i].id;
      // if id exists, set get id current elements
      if (idname != ''&& idname!="toggleMobileMenu"&& idname!= "requestForm"&& idname!= "Category"&& idname!="subCategory"&& idname!= "amountNeededDiv"&& idname!= "educationForm"&& idname!= "healthForm"&& idname!= "lifeskillsForm") {
        allnodes[i].textContent = multilang.get(idname);
      };
    };
  }
</script>

<body onload="onLoad()">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <form action="" method="post">
            <button type="submit" name="contactUs" formaction="/"
             class="btn btn-outline-light btn-lg nav-btn"
            >
              <img
                src="/public/logo-removebg.png"
                alt="logo"
                width="45"
                height="45"
                class="d-inline-block align-top"
              />
              <span id="user-dashboard" class="logoSpan">User Dashboard</span>
            </button>
        </form>
      <button
        class="navbar-toggler nav-btn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#toggleMobileMenu"
        aria-controls="toggleMobileMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
          <form action="" >
              <ul class="navbar-nav ms-auto text-center">
                <li class="nav-item">
                  <!-- <a href="home.ejs" class="nav-link active">About Us</a> -->
                  <button type="submit" name="home" formaction="/"
                      class="btn btn-outline-light nav-btn" id="home"
                  >
                      Home
                  </button>
                </li>
                 <li class="nav-item">
                  <button type="submit" name="contactUs" formaction="/"
                      class="btn btn-outline-light nav-btn" id="contact-us"
                  >
                      Contact Us
                  </button>
                </li> 
                <!-- <li class="nav-item dropdown">
                  <button
                    href="#"
                    class="dropdown-toggle btn btn-outline-light nav-btn"
                    id="navbarDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Languages
                  </button> -->

                  <!-- <ul
                    class="dropdown-menu text-center bg-dark"
                    aria-labelledby="navbarDropdown"
                  >
                      <li>
                          <button type="submit" name="aboutUs" formaction="/"
                          class="btn btn-outline-light nav-btn"
                      >
                          English
                      </button>
                      </li>
                      <li>
                          <button type="submit" name="aboutUs" formaction="/"
                          class="btn btn-outline-light nav-btn"
                      >
                          Hindi
                      </button>
                      </li>
                  </ul>
                </li> -->
                <li class="nav-item">
                    <button type="submit" name="contactUs" formaction="/"
                        class="btn btn-outline-light nav-btn" id="logout"
                    >
                        Logout
                    </button>
                </li>
                <li class="nav-item dropdown">
                  <select style="padding: 10px; background-color:white; border:none;" name="listlanguages" onchange="langSelectChange(this)">
                  </select>
          </form>
          </li>
        </ul>
      </div>
    </div>
</nav>


  <!-- form -->

  <div class="userFormDiv">
    <h3 id="request-form" class="formHeading">Request Form</h3>
    <form class="form-floating row g-3 userForm" id="requestForm">
      <div class="form-floating mb-3 col">
        <input type="text" class="form-control" placeholder="name@example.com" name="uid" id="UID" required>
        <label id="uid" for="UID">UID</label>
      </div>

      <div class="form-group">
        <label  id="agenda" for="agenda">Agenda</label>
        <textarea name="Agenda" class="form-control" id="agenda" rows="3"></textarea>
    </div>

      <select class="form-select" name="needtype" aria-label="Default select example" 
      id="Category">
        <option id="type of need" selected>Select type of need</option>
        <option id="need1"value="Financial">Financial</option>
        <option id="need2" value="Non-financial">Non-financial</option>
      </select>

      <select class="form-select" name="needcategory" aria-label="Default select example" 
      id="subCategory">
        <option  id="sub-type-need" selected>Select the sub-category of need</option>
        <option id="subneed1" value="Education">Education</option>
        <option id="subneed2"value="Health">Health</option>
        <option id="subneed3"value="Livelihood">Livelihood</option>
        <option id="subneed4"value="Life skills">Life skills</option>
        <option id="subneed5"value="Eduation Counselling">Eduation Counselling</option>
        <option id="subneed6"value="Medical Counselling">Medical Counselling</option>
      </select>

      <div class="form-floating mb-3 col" id="amountNeededDiv">
        <input type="number" class="form-control" id="amountNeeded" name="amountNeeded" placeholder="name@example.com">
        <label id="amount" for="amountNeeded">Amount Needed</label>
      </div>

      <div class="userFormDiv row" id="educationForm">
        <h3 id="edu-form">Education Form Fields</h3>
            <div class="form-floating mb-3 col">
                <input type="number" class="form-control" placeholder="name@example.com"
                name="score"
                id="score"
                >
                <label id="percentage-academic" for="score">Percentage of last academic year</label>
              </div>
            
            <div class="form-floating mb-3 col">
                <input type="number" name="attendance" class="form-control" id="attendance" name="text" placeholder="name@example.com">
                <label id="percentage-attendance"for="attendance">Attendance record (in Percentage)</label>
              </div>
            <div class="form-floating mb-3 col">
                <input type="number" name="dropout" class="form-control" id="dropout" placeholder="name@example.com">
                <label id="dropout" for="dropout">Dropout years</label>
              </div>
            
              <div class="genderCheckbox AffiliatedInstitute row">
                  <div id="institute-affiliation"class="col-6"><span>Affiliated to any other Institute</span></div>
                  <div class="form-check col-3">
                      <input class="form-check-input" type="radio" name="institute" id="Yes" value="yes">
                      <label class="form-check-label" for="Yes" id="yes">
                          Yes
                        </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="radio" name="institute" id="No" value="no">
                        <label class="form-check-label" for="No" id="no">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="institute" name="institute" placeholder="1234 Main St">
                    <label id="institute-name" for="institute">Name of Institute</label>
                </div>
                <div class="form-floating mb-3 col">
                    <input type="text" class="form-control" id="DurationAffiliation" name="DurationAffiliation" placeholder="1234 Main St">
                    <label id="dur-affiliation"for="DurationAffiliation">Duration of affiliation</label>
                </div>
     </div>

     <div class="userFormDiv row" id="healthForm">
      <h3 id="health-form">Health Form Fields</h3>
          <div class="form-floating mb-3 col">
              <input type="text" class="form-control" placeholder="name@example.com"
              name="hospital"
              id="hospital"
              >
              <label id= "hospital-name"for="hospital">Hospital Name</label>
            </div>
          
          <div class="form-floating mb-3 col">
              <input type="text" class="form-control" id="medicalAilment" name="medicalAilment" placeholder="name@example.com">
              <label  id="med-ail"for="medicalAilment">Medical Ailment</label>
            </div>
          <div class="form-floating mb-3 col">
            <div id="dur-treatment">Duration of Treatment</div>
            <select class="form-select" name="durationoftreatment" aria-label="Default select example">
              <option id="sel-dur-treatment"selected>Select duration of treatment</option>
              <option id="dur1"value="6 months">&lt;6 months</option>
              <option id="dur2" value="1to3 years">1-3 years</option>
              <option id="dur3"value="3 years">&gt;3 years</option>
            </select>
          </div>
          <div class="form-floating mb-3 col">
            <div id="reason">Reason</div>
            <select class="form-select" name="reason" aria-label="Default select example">
              <option id="type of need"selected>Select type of reason</option>
              <option id="treatment" value="treatment">Treatment</option>
              <option id="medicine" value="medicine">Medicine</option>
              <option id="both" value="both">Both</option>
            </select>
          </div>

  </div>

  <!-- <div class="userFormDiv" id="livelihoodForm">
    <h3>Livelihood Form</h3> 
</div> -->
  <div class="userFormDiv row" id="lifeskillsForm">
    <h3 id="subneed4">Lifeskills Details</h3> 
    <div class="form-floating mb-3 col">
      <input type="text" class="form-control" placeholder="name@example.com"
      name="TypeofTraining"
      id="TypeofTraining"
      >
      <label id="training"for="TypeofTraining">Type of Training</label>
    </div>
    <div class="form-floating mb-3 col">
      <input type="text" class="form-control" placeholder="name@example.com"
      name="Skills"
      id="Skills"
      >
      <label id="skills"for="Skills">Skills (you have already)</label>
    </div>
</div>

      <div class="mt-3 center">
        <button type="button" class="btn btn-lg btn-dark" formaction="/mainform" formmethod="post"
          onclick="saveformdetails()" id="submit-button">
          Submit
        </button>
        <!-- button call to js function or to the server? -->
      </div>
    </form>
    <script>


    </script>

  </div>
  <!-- <button onclick="f3()">Next</button> -->

  <script src="https://unpkg.com/localbase/dist/localbase.dev.js"></script>
  <script>

    window.addEventListener('online', function (e) {

      console.log('online xyz');
      uploadrequestForm();

    });


    async function getrequestForms() {
      return await db.collection('requestform').get({ keys: true });
    };


    async function uploadrequestForm() {
      var forms = await getrequestForms();
      forms.forEach(async form => {
       var f=JSON.parse(JSON.stringify(form));
        if (!f.saved) {
          console.log("uploading form", form);
         
          var data = new FormData();

          var response = await fetch('/mainform', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(form.data)
          })//.then(Response => {
          console.log('form saved', response);
          form.saved = true;
          await updateForm(form);

          // }
          // )
        }
        console.log(form);
      });

    }

    async function updateForm(form) {
      await db.collection('requestform').doc(form.key).update({
        saved: true,
        uts: new Date()
      });
    };

    let db = new Localbase('db');

    function saveformdetails() {
      var requestForm = document.getElementById('requestForm');
      var form = new FormData(requestForm);
      db.collection('requestform').add({
        data: Object.fromEntries(form.entries()),
        saved: false,
        ts: new Date(),
        uts: undefined
      }).then(() => {
        uploadrequestForm().then(() => {
          setTimeout(() => {
            window.location.href = "/userdash";
          }, 2000);

        })
      })

    }



  </script>
  <script src="/views/main_form.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>