<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Life skills Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style/style.css">
    <link rel="stylesheet" href="/public/style/user.css">
    <!-- <link rel="stylesheet" href="/public/style/style2.css"> -->
</head>
  <body id="userDashboard">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <form action="" method="post">
                <button type="submit" name="contactUs" formaction="/"
                 class="btn btn-outline-light btn-lg nav-btn"
                >
                  <img
                    src="/public/logo-removebg.png"
                    alt="logo"
                    width="45"
                    height="45"
                    class="d-inline-block align-top"
                  />
                  <span class="logoSpan">User Dashboard</span>
                </button>
            </form>
          <button
            class="navbar-toggler nav-btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="toggleMobileMenu">
              <form action="" >
                  <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item">
                      <!-- <a href="home.ejs" class="nav-link active">About Us</a> -->
                      <button type="submit" name="home" formaction="/"
                          class="btn btn-outline-light nav-btn"
                      >
                          Home
                      </button>
                    </li>
                    <li class="nav-item">
                      <!-- <a href="home.ejs" class="nav-link active">About Us</a> -->
                      <button type="submit" name="aboutUs" formaction="/"
                          class="btn btn-outline-light nav-btn"
                      >
                          Profile
                      </button>
                    </li>
                    <li class="nav-item">
                      <button type="submit" name="contactUs" formaction="/"
                          class="btn btn-outline-light nav-btn"
                      >
                          Contact Us
                      </button>
                    </li>
                    <li class="nav-item dropdown">
                      <button
                        href="#"
                        class="dropdown-toggle btn btn-outline-light nav-btn"
                        id="navbarDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Languages
                      </button>
  
                      <ul
                        class="dropdown-menu text-center bg-dark"
                        aria-labelledby="navbarDropdown"
                      >
                          <li>
                              <button type="submit" name="aboutUs" formaction="/"
                              class="btn btn-outline-light nav-btn"
                          >
                              English
                          </button>
                          </li>
                          <li>
                              <button type="submit" name="aboutUs" formaction="/"
                              class="btn btn-outline-light nav-btn"
                          >
                              Hindi
                          </button>
                          </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                        <button type="submit" name="contactUs" formaction="/"
                            class="btn btn-outline-light nav-btn"
                        >
                            Logout
                        </button>
                    </li>
              </form>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="text-center HomeLogin" id="UserHome">
        <img src="/public/logo.jpg" alt="Logo" height="72" 
        class="mt-4 mb-3" />

        <h1 class="h3 mb-3 font-weight-normal">Welcome back</h1>
        <form class="loginForm">
            <div class="mx-auto my-5">
              <div class="d-flex align-items-center justify-content-center m-4">
                <button type="submit" name="activeRequest" 
                class="btn btn-outline-dark btn-lg" formaction="/mainform" formmethod="get"
                id="newRequest"
                >
                  Generate New Requests
                </button>
              </div>
              <div  class="d-flex align-items-center justify-content-center m-4">
                <button type="submit" name="activeRequest" formaction="/"
                class="btn btn-outline-dark btn-lg"
                id="checkStatus"
                >
                  Check status of existing Request
                </button>
              </div>
              <div class="d-flex align-items-center justify-content-center m-4">
                <button type="submit" name="activeRequest" formaction="/"
                class="btn btn-outline-dark btn-lg"
                id="uploadDocuments"
                >
                  Upload Documents
                </button>
              </div>
              <div class="d-flex align-items-center justify-content-center m-4">
                <button type="submit" name="previousRequest" formaction="/"
                    class="btn btn-outline-dark btn-lg"
                >
                  Previous Requests
                </button>
              </div>
            </div>
        </form>
      </div>

    <!-- <button onclick="f3()">Next</button> -->
    <script src="/varun/script.js"></script>
    <!-- <script src="userPages.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>